* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.slideshowContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow {
    width: 100vw;
    height: 100%;
}

.control-button {
    font-size: 28px;
    color: rgba(255,255,255,0.65);
    position: absolute;
    top: calc(50% - 14px);
    cursor: pointer;
    z-index: 1;
}

.control-button.left {
    left: 15px;
}

.control-button.right {
    right: 15px;
}

.slide {
    float: left;
    width: 100vw;
    height: 100px;
    background-color: blue;
}

.slide:nth-child(2) {
    background-color: skyblue;
}

.slide:nth-child(3) {
    background-color: navy;
}

.mask {
    width: 100vw;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.strip {
    position: relative;
    left: 0px;
    transition: left 0.5s linear
}